@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'DM Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

input::placeholder {
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

/* Bootstrap Classes */

.form-control:focus,
input[type="checkbox"]:focus {
  box-shadow: none !important;
  border: 1px solid #12b786 !important;
  outline: 0 none;
}

input[type="checkbox"]:checked {
  background-color: #12b786;
  border: 1px solid #12b786;
}

input[type="checkbox"]:focus {
  border: none;
}

/* Custom Classes */

.navbar {
  box-shadow: rgba(0,0,0,0.15) 0 1px 1px;
  background-color: #e6fcf5;
  color: #c3fae8;
}

.menu-item-sm {
  font-size: 12px;
  padding-top: 4px;
}

.hero-section {  
  padding-top: 250px;
  padding-bottom: 150px;
  margin-bottom: 0px;
  background: url(assets/img/hero-banner.jpg) no-repeat center / cover;
}

.hero-form {
  width: 30% !important;
}

.section-bg {
  background-color: #c3fae8;
}

.location-link {
  text-decoration: none;
  color: #333;  
}

.location-link:hover {
  color: #000;
}