@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "DM Sans", sans-serif;
}

body {
  overflow-x: hidden;
}

input::placeholder {
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600 !important;
}

/* Bootstrap Classes */

.form-control:focus,
input[type="checkbox"]:focus {
  box-shadow: none !important;
  border: 1px solid #12b786 !important;
  outline: 0 none;
}

input[type="checkbox"]:checked {
  background-color: #12b786;
  border: 1px solid #12b786;
}

input[type="checkbox"]:focus {
  border: none;
}

.hr {
  color: #999;
}

/* Custom Classes */

.navbar {
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 1px;
  background-color: #e6fcf5;
  color: #c3fae8;
}

.menu-item-sm {
  font-size: 12px;
  padding-top: 4px;
}

.hero-section {
  padding-top: 250px;
  padding-bottom: 150px;
  margin-bottom: 0px;
  background: url(assets/img/hero-banner.jpg) no-repeat center / cover;
}

.hero-form {
  width: 30% !important;
}

.section-bg {
  background-color: #c3fae8;
}

.location-link {
  text-decoration: none;
  color: #333;
}

.location-link:hover {
  color: #000;
}

.card-border-none {
  border: none !important;
}

.size-125 {
  width: 125px !important;
  height: 125px !important;
}

.footer {
  background-color: #2e3331;
}

.footer-menu h6 {
  font-size: 14px;
}

.footer-menu p {
  font-weight: 200;
  font-size: 14px;
}

.error-text {
  font-size: 12px;
  color: red;
  margin-top: -6px;
}

/* Restaurant Status */
.restaurant-status {
  position: absolute;
  bottom: 15px;
  left: -11px;
  padding: 3px 10px;
  line-height: normal;
  background: #3ab54b;
  font-size: 10px;
  color: #fff;
  display: block;
  text-transform: uppercase;
  min-height: 20px;
  min-width: 52px;
  text-align: center;
}
.restaurant-status {
  left: -10px;
}
.restaurant-status:before {
  width: 0;
  height: 0;
  border-top: 10px solid #239132;
  border-left: 10px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  bottom: -10px;
}
.restaurant-status.close {
  background: #ed1b24;
  opacity: 1;
  cursor: auto;
  font-weight: normal;
  float: none;
  text-shadow: none;
}
.restaurant-status.close:before {
  border-top: 10px solid #c91018;
}
.restaurant-status .bookmark-ribbon {
  width: 10px;
  height: 0px;
  border-top: 10px solid #3ab54b;
  border-bottom: 10px solid #3ab54b;
  border-right: 5px solid transparent;
  position: absolute;
  top: 0;
  right: -6px;
}
.restaurant-status.close .bookmark-ribbon {
  border-top: 10px solid #ed1b24;
  border-bottom: 10px solid #ed1b24;
}